-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."PriceHistory" (
    "cardId" TEXT NOT NULL,
    "time" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "averageSellPrice" DOUBLE PRECISION,
    "source" TEXT,

    CONSTRAINT "PriceHistory_pkey" PRIMARY KEY ("cardId","time")
);

-- CreateTable
CREATE TABLE "public"."price_history_3d" (
    "cardId" TEXT NOT NULL,
    "bucket" TIMESTAMPTZ(6) NOT NULL,
    "last_price" DOUBLE PRECISION,

    CONSTRAINT "price_history_3d_pkey" PRIMARY KEY ("cardId","bucket")
);

-- CreateTable
CREATE TABLE "public"."price_history_6m" (
    "cardId" TEXT NOT NULL,
    "bucket" TIMESTAMPTZ(6) NOT NULL,
    "last_price" DOUBLE PRECISION,

    CONSTRAINT "price_history_6m_pkey" PRIMARY KEY ("cardId","bucket")
);

-- CreateTable
CREATE TABLE "public"."price_history_daily" (
    "cardId" TEXT NOT NULL,
    "bucket" TIMESTAMPTZ(6) NOT NULL,
    "last_price" DOUBLE PRECISION,

    CONSTRAINT "price_history_daily_pkey" PRIMARY KEY ("cardId","bucket")
);

-- CreateTable
CREATE TABLE "public"."price_history_monthly" (
    "cardId" TEXT NOT NULL,
    "bucket" TIMESTAMPTZ(6) NOT NULL,
    "last_price" DOUBLE PRECISION,

    CONSTRAINT "price_history_monthly_pkey" PRIMARY KEY ("cardId","bucket")
);

-- CreateIndex
CREATE INDEX "PriceHistory_time_idx" ON "public"."PriceHistory"("time" DESC);

-- CreateIndex
CREATE INDEX "price_history_card_time_desc_idx" ON "public"."PriceHistory"("cardId", "time" DESC);

-- CreateIndex
CREATE INDEX "price_history_time_desc_idx" ON "public"."PriceHistory"("time" DESC);

-- CreateIndex
CREATE INDEX "ph3d_bucket_idx" ON "public"."price_history_3d"("bucket");

-- CreateIndex
CREATE INDEX "ph6m_bucket_idx" ON "public"."price_history_6m"("bucket");

-- CreateIndex
CREATE INDEX "phd_bucket_idx" ON "public"."price_history_daily"("bucket");

-- CreateIndex
CREATE INDEX "phm_bucket_idx" ON "public"."price_history_monthly"("bucket");

